
CAD.Client/bin/Debug/net5.0/CAD.Client.deps.json
CAD.Client/bin/Debug/net5.0/CAD.Client.dll
CAD.Client/bin/Debug/net5.0/CAD.Client.pdb
CAD.Client/bin/Debug/net5.0/CAD.Domain.dll
CAD.Client/bin/Debug/net5.0/CAD.Domain.pdb
CAD.Client/bin/Debug/net5.0/Cadastro.Domain.dll
CAD.Client/bin/Debug/net5.0/Cadastro.Domain.pdb
CAD.Client/bin/Debug/net5.0/ref/CAD.Client.dll
CAD.Client/obj/CAD.Client.csproj.nuget.dgspec.json
CAD.Client/obj/CAD.Client.csproj.nuget.g.props
CAD.Client/obj/CAD.Client.csproj.nuget.g.targets
CAD.Client/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CAD.Client/obj/Debug/net5.0/CAD.Client.AssemblyInfo.cs
CAD.Client/obj/Debug/net5.0/CAD.Client.AssemblyInfoInputs.cache
CAD.Client/obj/Debug/net5.0/CAD.Client.assets.cache
CAD.Client/obj/Debug/net5.0/CAD.Client.csproj.AssemblyReference.cache
CAD.Client/obj/Debug/net5.0/CAD.Client.csproj.CopyComplete
CAD.Client/obj/Debug/net5.0/CAD.Client.csproj.CoreCompileInputs.cache
CAD.Client/obj/Debug/net5.0/CAD.Client.csproj.FileListAbsolute.txt
CAD.Client/obj/Debug/net5.0/CAD.Client.dll
CAD.Client/obj/Debug/net5.0/CAD.Client.GeneratedMSBuildEditorConfig.editorconfig
CAD.Client/obj/Debug/net5.0/CAD.Client.pdb
CAD.Client/obj/Debug/net5.0/ref/CAD.Client.dll
CAD.Client/obj/project.assets.json
CAD.Client/obj/project.nuget.cache
CAD.Domain/obj/CAD.Domain.csproj.nuget.dgspec.json
CAD.Domain/obj/CAD.Domain.csproj.nuget.g.props
CAD.Domain/obj/CAD.Domain.csproj.nuget.g.targets
CAD.Domain/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CAD.Domain/obj/Debug/net5.0/CAD.Domain.AssemblyInfo.cs
CAD.Domain/obj/Debug/net5.0/CAD.Domain.AssemblyInfoInputs.cache
CAD.Domain/obj/Debug/net5.0/CAD.Domain.assets.cache
CAD.Domain/obj/Debug/net5.0/CAD.Domain.csproj.AssemblyReference.cache
CAD.Domain/obj/Debug/net5.0/CAD.Domain.csproj.CopyComplete
CAD.Domain/obj/Debug/net5.0/CAD.Domain.csproj.CoreCompileInputs.cache
CAD.Domain/obj/Debug/net5.0/CAD.Domain.csproj.FileListAbsolute.txt
CAD.Domain/obj/Debug/net5.0/CAD.Domain.dll
CAD.Domain/obj/Debug/net5.0/CAD.Domain.GeneratedMSBuildEditorConfig.editorconfig
CAD.Domain/obj/Debug/net5.0/CAD.Domain.pdb
CAD.Domain/obj/Debug/net5.0/ref/CAD.Domain.dll
CAD.Domain/obj/project.assets.json
CAD.Domain/obj/project.nuget.cache
CAD.MVC/appsettings.Development.json
CAD.Domain/bin/Debug/net5.0/CAD.Domain.deps.json
CAD.Domain/bin/Debug/net5.0/CAD.Domain.dll
CAD.Domain/bin/Debug/net5.0/CAD.Domain.pdb
CAD.Domain/bin/Debug/net5.0/Cadastro.Domain.dll
CAD.Domain/bin/Debug/net5.0/Cadastro.Domain.pdb
CAD.Domain/bin/Debug/net5.0/ref/CAD.Domain.dll
CAD.Domain/bin/Debug/net5.0/Seguranca.Domain.dll
CAD.Domain/bin/Debug/net5.0/Seguranca.Domain.pdb
CAD.MVC/bin/Debug/net5.0/Acessorio.Util.dll
CAD.MVC/bin/Debug/net5.0/Acessorio.Util.pdb
CAD.MVC/bin/Debug/net5.0/appsettings.Development.json
CAD.MVC/bin/Debug/net5.0/appsettings.json
CAD.MVC/bin/Debug/net5.0/CAD.Client.dll
CAD.MVC/bin/Debug/net5.0/CAD.Client.pdb
CAD.MVC/bin/Debug/net5.0/CAD.Domain.dll
CAD.MVC/bin/Debug/net5.0/CAD.Domain.pdb
CAD.MVC/bin/Debug/net5.0/CAD.MVC.deps.json
CAD.MVC/bin/Debug/net5.0/CAD.MVC.dll
CAD.MVC/bin/Debug/net5.0/CAD.MVC.exe
CAD.MVC/bin/Debug/net5.0/CAD.MVC.pdb
CAD.MVC/bin/Debug/net5.0/CAD.MVC.runtimeconfig.dev.json
CAD.MVC/bin/Debug/net5.0/CAD.MVC.runtimeconfig.json
CAD.MVC/bin/Debug/net5.0/CAD.MVC.Views.dll
CAD.MVC/bin/Debug/net5.0/CAD.MVC.Views.pdb
CAD.MVC/bin/Debug/net5.0/Cadastro.Domain.dll
CAD.MVC/bin/Debug/net5.0/Cadastro.Domain.pdb
CAD.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/Humanizer.dll
CAD.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
CAD.MVC/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
CAD.MVC/bin/Debug/net5.0/Newtonsoft.Json.dll
CAD.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/ref/CAD.MVC.dll
CAD.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
CAD.MVC/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
CAD.MVC/bin/Debug/net5.0/SEG.Client.dll
CAD.MVC/bin/Debug/net5.0/SEG.Client.pdb
CAD.MVC/bin/Debug/net5.0/SEG.Domain.dll
CAD.MVC/bin/Debug/net5.0/SEG.Domain.pdb
CAD.MVC/bin/Debug/net5.0/Seguranca.Domain.dll
CAD.MVC/bin/Debug/net5.0/Seguranca.Domain.pdb
CAD.MVC/bin/Debug/net5.0/System.Composition.AttributedModel.dll
CAD.MVC/bin/Debug/net5.0/System.Composition.Convention.dll
CAD.MVC/bin/Debug/net5.0/System.Composition.Hosting.dll
CAD.MVC/bin/Debug/net5.0/System.Composition.Runtime.dll
CAD.MVC/bin/Debug/net5.0/System.Composition.TypedParts.dll
CAD.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/Index.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/IndexEndereco.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Shared/_menu.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Shared/Error1.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/ref/CAD.MVC.dll
CAD.MVC/obj/Debug/net5.0/staticwebassets/CAD.MVC.StaticWebAssets.Manifest.cache
CAD.MVC/obj/Debug/net5.0/staticwebassets/CAD.MVC.StaticWebAssets.xml
CAD.MVC/obj/project.assets.json
CAD.MVC/obj/project.nuget.cache
CAD.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
CAD.MVC/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
CAD.MVC/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
CAD.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
CAD.MVC/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CAD.MVC/obj/CAD.MVC.csproj.nuget.dgspec.json
CAD.MVC/obj/CAD.MVC.csproj.nuget.g.props
CAD.MVC/obj/CAD.MVC.csproj.nuget.g.targets
CAD.MVC/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CAD.MVC/obj/Debug/net5.0/apphost.exe
CAD.MVC/obj/Debug/net5.0/CAD.MVC.AssemblyInfo.cs
CAD.MVC/obj/Debug/net5.0/CAD.MVC.AssemblyInfoInputs.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.assets.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.csproj.AssemblyReference.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.csproj.CopyComplete
CAD.MVC/obj/Debug/net5.0/CAD.MVC.csproj.CoreCompileInputs.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.csproj.FileListAbsolute.txt
CAD.MVC/obj/Debug/net5.0/CAD.MVC.dll
CAD.MVC/obj/Debug/net5.0/CAD.MVC.GeneratedMSBuildEditorConfig.editorconfig
CAD.MVC/obj/Debug/net5.0/CAD.MVC.genruntimeconfig.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.MvcApplicationPartsAssemblyInfo.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.pdb
CAD.MVC/obj/Debug/net5.0/CAD.MVC.RazorAssemblyInfo.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.RazorAssemblyInfo.cs
CAD.MVC/obj/Debug/net5.0/CAD.MVC.RazorCoreGenerate.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.RazorTargetAssemblyInfo.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.RazorTargetAssemblyInfo.cs
CAD.MVC/obj/Debug/net5.0/CAD.MVC.TagHelpers.input.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.TagHelpers.output.cache
CAD.MVC/obj/Debug/net5.0/CAD.MVC.Views.dll
CAD.MVC/obj/Debug/net5.0/CAD.MVC.Views.pdb
CAD.MVC/obj/Debug/net5.0/project.razor.json
CAD.MVC/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Conta/Login.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Conta/Register.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Conta/TrocaSenha.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/Create.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/Delete.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/Details.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/Edit.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/EditEndereco.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/EditFilial.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/EditSocio.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/Index.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/IndexFilial.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Empresas/IndexSocio.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Partial/_EditEndereco.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Partial/_Empresa.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Partial/_Filial.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Partial/_IndexEndereco.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Partial/_Pessoa.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/_Pessoa.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/Create.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/Delete.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/Details.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/Edit.cshtml.g.cs
CAD.MVC/obj/Debug/net5.0/Razor/Views/Pessoas/EditEndereco.cshtml.g.cs
